.projectsTitle {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.projectsTitle h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.projectsTitle p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #747474;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.websiteImgContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.websiteImgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
